.underHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: auto;
    top: 28%;
    left: 26%;
}

.img_foto{
    width: 400px;
    display: flex;
    justify-self: center;
    align-self: center;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.8s ease;
}

.imgBig{
  scale: 1.2;
}

#h1{
  transition: all 0.8s ease;
}

.h1{
  margin-top: 2em;
}

.box{
  display: flex;
  justify-self: start;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 35em;
  background-color: rgb(0, 0, 0, 0.8);
  margin-top: 2%;
  margin-left: 3%;
  border-radius: 50px;
}

.contentAside{
  justify-content: center;
  text-align: justify;
  margin: 2em;
  color: white;
}

.box1{
  display: flex;
  justify-self: end;
  align-self: center;
  align-items: center;
  width: 30%;
  height: 35em;
  background-color: rgb(0, 0, 0, 0.8);
  margin-top: 2%;
  margin-left: 35%;
  border-radius: 50px;
}